@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);
$yellow: hsl(47, 88%, 63%);
$ff:"Figtree", sans-serif;
$fw-primary: 600;
$fw-secondary: 800;
$fs-primary:1rem;